<html class="landing-page">
<h1>Destinations</h1>
<body class= "layout">
<div id="container">

<%= link_to "Enter New Destination", "destinations/new" %>

<ul>
	<% @destinations.each do |destination| %>
		<%= image_tag(destination.photo) %>
		</p>
		<li>
		<p>
			Destination: <%= link_to destination[:name], destination_path(destination.id) %> <br>
			Rating: <%= destination[:rating] %> <br>
		</li>
		</p>
	<% end %>
</ul>
</div>
</body>
</html>